@** Copyright 2019 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
    * http://www.nop-templates.com/t/licensinginfo
*@

@model Nop.Web.Models.Catalog.ProductDetailsModel.AddToCartModel

<div class="add-to-cart">
    <label asp-for="EnteredQuantity" asp-postfix=":" class="qty-label"></label>

    @if (Model.AllowedQuantities.Count > 0)
    {
        <select asp-for="EnteredQuantity" asp-items="Model.AllowedQuantities" class="qty-dropdown"></select>
    }
    else
    {
        <span class="quantity-block">
            <label>@T("SevenSpikes.NopAjaxCart.ItemBoxQty")</label>
            <span class="common-buttons-wrapper">
                <span class="plus">+</span>
                <span class="minus">-</span>
                <input asp-for="EnteredQuantity" class="qty-input" type="text" />
            </span>
        </span>
    }

    <input type="button" id="add-to-cart-button-@Model.ProductId" value="@T("shoppingcart.addtowishlist")" class="button-1 add-to-cart-button miniProductDetailsViewAddToWishlistButton miniProductDetailsViewAddToCartButton" data-productid="@Model.ProductId" />

    @Html.Hidden("addProductVariantToCartUrl", Url.Action("AddProductFromProductDetailsPageToCartAjax", "NopAjaxCartShoppingCart"))    
</div>