<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <Setting Name="MinimalThemeSettings.preset">
    <Value>c49169</Value>
  </Setting>
  <Setting Name="MinimalThemeSettings.defaultpreset">
    <Value>c49169</Value>
  </Setting>
  <Setting Name="MinimalThemeSettings.defaultproductimageproportion">
    <Value>100</Value>
  </Setting>
  <Setting Name="MinimalThemeSettings.defaultcategoryimageproportion">
    <Value>64</Value>
  </Setting>
  <Setting Name="MinimalThemeSettings.productimageproportion">
    <Value>100</Value>
  </Setting>
  <Setting Name="MinimalThemeSettings.categoryimageproportion">
    <Value>64</Value>
  </Setting>
  <Setting Name="MinimalThemeSettings.IsCategoryPageOneColumn">
    <Value>false</Value>
  </Setting>
  <Setting Name="MinimalThemeSettings.IsHeaderInsideHomePageMainSlider">
    <Value>true</Value>
  </Setting>
  <Setting Name="MinimalThemeSettings.IsMenuMobile">
    <Value>true</Value>
  </Setting>
  <Setting Name="MinimalThemeSettings.ItemBoxHoverEffect">
    <Value>hover-effect-1</Value>
  </Setting>
  <Setting Name="MinimalThemeSettings.EnableNewsletterPopup">
    <Value>false</Value>
  </Setting>
  <Setting Name="MinimalThemeSettings.NewsletterPopupDelayedShow">
    <Value>2000</Value>
  </Setting>
  
  <Setting Name="mediasettings.categorythumbpicturesize">
    <Value>630</Value>
  </Setting>
  <Setting Name="mediasettings.manufacturerthumbpicturesize">
    <Value>420</Value>
  </Setting>
  <Setting Name="mediasettings.vendorthumbpicturesize">
    <Value>420</Value>
  </Setting>
  <Setting Name="mediasettings.productthumbpicturesize">
    <Value>420</Value>
  </Setting>
  <Setting Name="mediasettings.productdetailspicturesize">
    <Value>600</Value>
  </Setting>
  <Setting Name="mediasettings.productthumbpicturesizeonproductdetailspage">
    <Value>120</Value>
  </Setting>
  <Setting Name="mediasettings.associatedproductpicturesize">
    <Value>320</Value>
  </Setting>
  <Setting Name="mediasettings.imagesquarepicturesize">
    <Value>40</Value>
  </Setting>

  <Setting Name="cloudzoomsettings.zoomposition">
    <Value>inside</Value>
  </Setting>
  <Setting Name="cloudzoomsettings.zoomwidth">
    <Value>600</Value>
  </Setting>
  <Setting Name="cloudzoomsettings.zoomheight">
    <Value>600</Value>
  </Setting>
  <Setting Name="cloudzoomsettings.enablepicturethumbnailsincarousel">
    <Value>False</Value>
  </Setting>
  <Setting Name="CloudZoomSettings.NumberOfPictureThumbnailsInCarousel-Minimal">
    <Value>4</Value>
  </Setting>
  <Setting Name="CloudZoomSettings.IsPictureThumbnailsCarouselVertical-Minimal">
    <Value>true</Value>
  </Setting>
  <Setting Name="CloudZoomSettings.ResponsiveBreakpointsForThumbnailsCarousel-Minimal">
    <Value>[{"breakpoint":1347,"settings":{"slidesToShow":4, "slidesToScroll":4,"arrows":false,"dots":true,"vertical":false}},{"breakpoint":1280,"settings":{"slidesToShow":3, "slidesToScroll":3,"arrows":false,"dots":true,"vertical":false}},{"breakpoint":1025,"settings":{"slidesToShow":4, "slidesToScroll":4,"arrows":false,"dots":true,"vertical":false}},{"breakpoint":769,"settings":{"slidesToShow":5, "slidesToScroll":5,"arrows":false,"dots":true,"vertical":false}},{"breakpoint":500,"settings":{"slidesToShow":4,"slidesToScroll":4,"arrows":false,"dots":true,"vertical":false}},{"breakpoint":360,"settings":{"slidesToShow":3,"slidesToScroll":3,"arrows":false,"dots":true,"vertical":false}}]</Value>
  </Setting>
  <Setting Name="richblogsettings.homepageimagesize">
    <Value>950</Value>
  </Setting>
  <Setting Name="richblogsettings.blogdetailsimagesize">
    <Value>950</Value>
  </Setting>
  <Setting Name="quickviewsettings.productdetailspicturesize">
    <Value>360</Value>
  </Setting>
  <Setting Name="quickviewsettings.productthumbpicturesize">
    <Value>120</Value>
  </Setting>
  <Setting Name="quickviewsettings.productitemselectorchild">
    <Value>.square-buttons-wrapper</Value>
  </Setting>
  <Setting Name="richblogsettings.blogdetailsprevnextwidgetzone">
    <Value>blogpost_page_under_title</Value>
  </Setting>
  <Setting Name="richblogsettings.blogdetailsimagewidgetzone">
    <Value>blogpost_page_before_date</Value>
  </Setting>
  <Setting Name="megamenusettings.numberofmanufacturersperrow">
    <Value>5</Value>
  </Setting>
  <Setting Name="megamenusettings.enableclickfordropdown">
    <Value>true</Value>
  </Setting>
  <Setting Name="megamenusettings.megamenucategorytemplate">
    <Value>CategoryMenuTemplate.InfiniteCategories</Value>
  </Setting>
  <Setting Name="megamenusettings.megamenumanufacturertemplate">
    <Value>ManufacturerMenuTemplate.WithoutPictures</Value>
  </Setting>
  <Setting Name="megamenusettings.showcategoriesinasinglemenuitem">
    <Value>True</Value>
  </Setting>
  <Setting Name="NopAjaxCartSettings.EnableProductQuantityTextBox">
    <Value>false</Value>
  </Setting>
  <Setting Name="nopajaxcartsettings.miniproductdetailsviewimagesize">
    <Value>330</Value>
  </Setting>
  <Setting Name="nopajaxcartsettings.productaddedtocartimagesize">
    <Value>330</Value>
  </Setting>
  <Setting Name="JCarouselGeneralSettings.ResponsiveBreakpointsForSlickSlider-Minimal">
    <Value>[{"breakpoint":1501,"settings":{"slidesToShow":4}},{"breakpoint":1024,"settings":{"slidesToShow":1}}]</Value>
  </Setting>
  <Setting Name="JCarouselGeneralSettings.ResponsiveBreakpointsCategorySlider-Minimal">
    <Value>[{"breakpoint":1024,"settings":{"slidesToShow":1}}]</Value>
  </Setting>
  <Setting Name="shoppingcartsettings.minishoppingcartproductnumber">
    <Value>7</Value>
  </Setting>

  <Setting Name="nopajaxfilterssettings.widgetzone">
    <Value>minimal_theme_ajax_filters</Value>
  </Setting>
  <Setting Name="NopAjaxFiltersSettings.ClosePriceRangeFilterBox">
    <Value>true</Value>
  </Setting>
  <Setting Name="NopAjaxFiltersSettings.CloseSpecificationsFilterBox">
    <Value>true</Value>
  </Setting>
  <Setting Name="NopAjaxFiltersSettings.CloseAttributesFilterBox">
    <Value>true</Value>
  </Setting>
  <Setting Name="NopAjaxFiltersSettings.CloseManufacturersFilterBox">
    <Value>true</Value>
  </Setting>
  <Setting Name="NopAjaxFiltersSettings.CloseVendorsFilterBox">
    <Value>true</Value>
  </Setting>
  <Setting Name="NopAjaxFiltersSettings.CloseOnSaleFilterBox">
    <Value>true</Value>
  </Setting>
  <Setting Name="NopAjaxFiltersSettings.CloseInStockFilterBox">
    <Value>true</Value>
  </Setting>
  <Setting Name="sevenspikescommonsettings.lazyloadimages">
    <Value>True</Value>
  </Setting>
</Settings>
